@keyframes verticalFloatingAnimation {
    from, to {
        top: 8px;
    }
    50% {
        top: -8px;
    }
}

.card-inner {
    display: block;
    height: 520px; width: 320px;
    margin: 32px; 
    color: var(--main-content-color);

    position: relative;
    animation: 2s ease-in-out 0s infinite verticalFloatingAnimation;
    transform: scale(.9);
    transition: transform .4s;

    &:hover {
        animation-play-state: paused;
        transform: scale(1);

        & .card-background  {
            border-bottom-width: 8px;
            filter: grayscale(0);
        }

        & .card-title {
            top: -48px;
            
            & .dynamic-underline:after {
                width: 84%;
            }
        }
    }
}

.card-content {
    display: block;
    height: 100%; width: 100%;
    background-color: var(--second-bg-color);
    border-radius: 8px;
}

.card-header {
    display: block;
    height: 40%;
    margin-bottom: 36px;
}

.card-title {
    position: relative;
    top: -40px;
    margin-left: 24px;
    transform: skewX(-10deg);
    transition: top .4s;

    & .dynamic-underline:after {
        height: 2px;
    }
}

.card-background {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(.6);
    transition: border-bottom-width .4s, filter .6s;
}

.card-description {
    height: 36%;
    padding: 0px 36px;
    margin-bottom: 16px;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 1.6em;
    text-indent: 1.6em;
}

.card-links {
    display: flex;
    flex-direction: row;
}

.action {
    &#demoLink svg {
        margin-left: 0px;
    }

    & svg {
        font-size: 1.2em;
        position: relative;
        top: 2px;
    }
    
}