@keyframes slidingUI {
    0% {
        transform: translateX(80vw) scale(1, .1);
    }
    98% {
        transform: translateX(30vw) scale(3,3);
    }
    100% {
        opacity: 0;
    }
    0%, 90% {
        opacity: 1;
    }
}

@keyframes fading {
    0%, 100% {
        opacity: 0;
    }
    50%, 90% {
        opacity: 1;
    }
}

.animation-container {
    position: absolute;
    width: 100vw;
    z-index: 1;
    cursor: pointer;

    & span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 100%;
        animation: slidingUI 2s infinite;
    }

    & p {
        position: absolute;
        display: block;
        width: 100%;;
        margin-top: 80px;
        color: var(--second-content-color);
        font-size: 1.8em;
        font-weight: 300;
        letter-spacing: .2em;
        text-align: center;
        animation: fading 2s infinite;
    }
}