@keyframes slidingUI {
    0% {
        transform: translateX(80vw) scale(.01, .01);
    }
    80%, 100% {
        transform: translateX(30vw) scale(1,1);
    }
    100% {
        opacity: 0;
    }
    0%, 90% {
        opacity: 1;
    }
}

@keyframes pinging {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes fading {
    0%, 100% {
        opacity: 0;
    }
    50%, 90% {
        opacity: 1;
    }
}

.animation-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    cursor: pointer;

    & span {
        display: block;
        width: 28px;
        height: 28px;
        background-color: white;
        border-radius: 100%;
        animation: slidingUI 4s infinite;

        &:after {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid var(--second-content-color);
            border-radius: 100%;
            padding: 96%;
            top: -50%;
            left: -50%;
            animation: pinging 2s infinite, fading 2s infinite;
        }
    }

    & p {
        position: absolute;
        display: block;
        width: 100%;;
        margin-top: 80px;
        color: var(--second-content-color);
        font-size: 1.8em;
        font-weight: 300;
        letter-spacing: .2em;
        text-align: center;
        animation: fading 4s infinite;
    }
}