.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    margin: 0px 16vw;
    color: var(--main-content-color) !important;
}

.navbar-items {
  flex: 1;
}

.navbar-neon {
  position: absolute;
  height: 1px;
  width: 72vw;
  top: 80px;
  left: 14vw;
  background-color: var(--second-content-color);
}

.languages-dropdown {
  display: block;
  height: 24px;
  width: fit-content;

  & .languages-dropdown-trigger {
    display: block;
    height: 100%;
    margin-left: 4px;
    padding-bottom: 16px;
    cursor: pointer;

    & .languages-icon {
      height: 100%;
      filter: grayscale(.2);
    }
  }

  & .languages-list {
    display: none;
    flex-direction: column;
    width: fit-content;
    padding: 12px 10px;
    background-color: var(--second-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
    transform: translateX(-12px);
    position: absolute;
    z-index: 10;

    &:before {
      content: '';
      height: 8px; width: 8px;
      background-color: var(--second-bg-color);
      border: 1px solid var(--main-border-color);
      border-bottom: none;
      border-right: none;
      transform: rotate(45deg);
      position: absolute;
      top: -6px;
      left: 22px;
    }

    & .language-button {
      display: flex;
      flex-direction: row;
      border: none;
      background: none;
      color: var(--second-content-color);
      font-weight: 800;
      letter-spacing: .1em;
      filter: grayscale(1);
      transition: filter .3s;
  
      &:hover, &.current-language {
        cursor: pointer;
        filter: grayscale(.2);
        transition: filter .3s;

        & span {
          color: var(--main-content-color);
          transition: color .3s;  

          &.underline:after {
            width: 20px;
            background-color: var(--main-content-color);
            transition: all .3s;  
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      & span {
        display: block;
        color: var(--third-content-color);
        margin-left: 8px;
        transition: color .3s;

        &:after {
          content: '';
          display: block;
          height: 2px;
          width: 0px;
          background-color: var(--third-content-color);
          transition: all .3s;  
        }
      }
    }
  }

  & .language-flag {
    display: block;
    height: 18px;
  }

  &:hover > .languages-list {
    display: flex;
  }
}

.title {
  font-weight: 600;
  text-align: center;
}

.links-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0;
}

.link-item {
  margin-left: 12px;
  font-size: .9em;
  font-weight: 400;
  
  &:not(:last-child):after {
    content: '/';
    margin-left: 12px;
  }

  & a {
    color: var(--main-content-color);
  }
}
