@import url(vars.css);

@keyframes slideIn {
  from { margin-left: -100%; }
  to { margin-left: 0%; }
}

body {
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  max-width: 80rem;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;

  &.link:hover {
    border-bottom: var(--main-content-color) 1px solid;
  }
}


.button {
  padding: 12px 24px;
  background-color: var(--main-bg-color);
  border: solid 1px var(--main-border-color);
  border-radius: 4px;
  color: var(--main-content-color);
  width: fit-content;

  &.action {
    display: block;
    margin: auto;
    background-color: var(--second-bg-color);
    transition: all .3s;

    &:hover {
      cursor: pointer;
      scale: 108%;
    }
    
    & svg {
      margin-left: 4px;
    }
  }
}

.dynamic-underline:after {
  content: '';
  position: relative;
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--main-orange-color);
  transition: all .4s;
}

.no-display {
  display: none !important;
}

.content {
  animation-duration: 1s;
  animation-name: slideIn;
  margin-top: 24px;
}

.wrapper {
  margin: 160px 80px;
  display: block;
}
.wrapper-header, .wrapper-footer {
  padding: 24px 0px;
  background-color: var(--second-bg-color);

  & h3 {
    width: fit-content;
    margin: auto;
    color: var(--main-content-color);
    font-size: 1.6em;
    letter-spacing: .4em;
    transform: skewX(-10deg);
    text-transform: uppercase;
  }
}
.wrapper-content {
  display: flex;
  justify-content: space-between;
}

.presentation-wrapper {
  margin-top: 0;
}

.photo-cv-container {
  height: 240px;
  width: 240px;;
  position: relative;
  display: block;

  &:has(.anniversary-trigger:hover) .anniversary-text {
    opacity: .96;
  }
}
.anniversary-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--main-content-color);
  border: 2px solid var(--main-content-color);
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 20px);
  left: 220px;
  z-index: 1000;
  transition: all .3s;

  &:hover {
    background-color: var(--second-bg-color);
    color: var(--main-content-color);
    border: 2px solid var(--second-content-color);
  }
}
.anniversary-text {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 2px;
  position: absolute;
  opacity: 0;
  border-radius: 100%;
  background-color: var(--second-bg-color);
  transition: all .3s;

  & p {
    width: 60%;
    text-align: center;
    font-weight: 200;
    margin: auto;
    color: var(--main-content-color)
  }
}
#photoCV {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 20%;
  border: 2px solid var(--second-content-color);
  border-radius: 100%;
  box-sizing: content-box;
  box-shadow: black 0px 0px 4px;
}

.presentation-container {
  width: 72%;
}
.presentation-title {
  font-family: 'Merienda', cursive;
  font-weight: 900;
  font-size: 5.6rem;
  letter-spacing: .4rem;
  line-height: 6rem;
  text-align: end;
  color: var(--main-content-color);
}
.presentation-text {
  position: relative;
  margin: auto;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: .4rem;
  text-align: end;
  color: var(--second-content-color);

  // Shadow from right to left hovering text
  // &:after {
  //   content: "";
  //   position: absolute; top: 0; bottom: 0; left: 0px; right: 0px;
  //   box-shadow: inset -64px 0px 80px var(--main-bg-color);
  // }
}

.competences-wrapper {
  background-color: var(--third-bg-color);
  height: 240px;
  padding: 64px 0px;
  cursor: grab;
  transition: all .3s;

  &:hover {
    transition: all .3s;
  }
}

.projects-wrapper {
  height: 800px;
  margin-bottom: 320px;
  margin-top: 320px;
  padding-top: 120px;
  background-color: white;
  border: 48px solid var(--main-content-color);
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 0px 24px var(--second-bg-color);
  transform: skewY(-10deg);
}
.projects-title {
  color: var(--main-orange-color);
  margin-bottom: 32px;
  letter-spacing: .2em;
  line-height: .7em;
  text-align: center;
  text-shadow: 1px 2px 0px var(--second-orange-color),
                2px 4px 0px var(--third-orange-color);
  text-transform: uppercase;
  transform: skewX(-10deg);
}
.projects-container {
  display: flex;
  flex-direction: row;
  width: min-content;
  margin: auto;
}
.projects-title, .projects-container {
  transform: skewY(10deg);
}