@import url(vars.css);

@keyframes slideIn {
  from { left: -100%;  }
  to { left: 0%; }
}

body {
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  max-width: 80rem;
  margin: auto;
  color: var(--main-content-color);
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ol, ul, li {
  list-style: none;
  padding: 0;
}
a {
  color: var(--main-content-color);
  font-weight: 900;
  text-decoration: none;
  transition: .4s all;
}
a:hover, b {
  color: var(--orange-brule) !important;
}

.button {
  padding: 12px 24px;
  background-color: var(--main-bg-color);
  border: solid 1px var(--main-border-color);
  border-radius: 4px;
  color: var(--main-content-color);
  width: fit-content;

  &.action {
    display: block;
    margin: auto;
    background-color: var(--second-bg-color);
    transition: all .3s;

    &:hover {
      cursor: pointer;
      scale: 108%;
    }
    
    & svg {
      margin-left: 4px;
    }
  }
}

.dynamic-underline:after {
  content: '';
  position: relative;
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--main-orange-color);
  transition: all .4s;
}

.no-display {
  display: none !important;
}
.highlight:after {
  content: "";
  position: absolute;
  height: 30%;
  width: 100%;
  left: -2px;
  bottom: 4px;
  z-index: -1;
  transform: rotate(-1.2deg) translateY(25%);
  background-color: var(--orange-brule);
  opacity: .8;
}

.vertical-delimiter {
  width: 4px;
  height: 100%;
  background-color: white;
}

.content {
  position: relative;
  animation-duration: .8s;
  animation-name: slideIn;
}

.wrapper {
  margin: 100px 40px;
  display: block;
}
.wrapper-header, .wrapper-footer {
  padding: 24px 0px;
  background-color: var(--second-bg-color);
  width: 300%;
  position: relative;
  left: -100%;

  & h3 {
    width: fit-content;
    margin: auto;
    color: var(--main-content-color);
    font-size: 1.6em;
    letter-spacing: .4em;
    transform: skewX(-10deg);
    text-transform: uppercase;
  }
}
.wrapper-content {
  display: flex;
  justify-content: space-between;
}

.presentation-wrapper {
  margin-top: 60px;
}

.photo-cv-container {
  height: 240px;
  width: 240px;;
  position: relative;
  display: block;

  &:has(.birthday-trigger:hover) .birthday-text {
    opacity: .96;
  }
}
.birthday-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--main-content-color);
  color: var(--main-bg-color);
  border: 2px solid var(--main-content-color);
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 20px);
  left: 220px;
  z-index: 1000;
  transition: all .3s;

  &:hover {
    background-color: var(--second-bg-color);
    color: var(--main-content-color);
    border: 2px solid var(--second-content-color);
  }
}
.birthday-text {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 2px;
  position: absolute;
  opacity: 0;
  border-radius: 100%;
  background-color: var(--second-bg-color);
  transition: all .3s;

  & p {
    width: 72%;
    text-align: center;
    font-weight: 200;
    margin: auto;
    color: var(--main-content-color)
  }
}
#photoCV {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 20%;
  border: 2px solid var(--second-content-color);
  border-radius: 100%;
  box-sizing: content-box;
  box-shadow: black 0px 0px 4px;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 72%;
  position: relative;
  padding: 8px 0px;
  letter-spacing: .4rem;
}
.presentation-title {
  font-family: 'Merienda', sans-serif;
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 6rem;
  color: var(--main-content-color);
}
.presentation-text, .presentation-situation {
  margin: 0;
  color: var(--main-content-color);
}
.presentation-text {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: .3rem;
  position: relative;
}
.presentation-situation {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: .2rem;
  color: var(--second-content-color);
}
.presentation-location {
  display: block;
  letter-spacing: .2rem;
  color: var(--second-content-color);
}

.about-me-wrapper .wrapper-content {
  flex-direction: column;
  padding: 16px 0px;
}
.about-me-content {
  letter-spacing: .1rem;
  font-weight: 200;
  margin: 16px 0px;

  &:last-child {
    margin-bottom: 32px;
  }
}

.competences-wrapper {
  background-color: var(--third-bg-color);
  height: 240px;
  padding: 64px 0px;
  cursor: grab;
  transition: all .3s;

  &:hover {
    transition: all .3s;
  }
}

.projects-wrapper {
  width: 300%;
  position: relative;
  left: -100%;
  margin: 320px 0px 320px 0px;
  padding: 160px 0px;
  background-color: white;
  border: 48px solid var(--main-content-color);
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 0px 24px var(--second-bg-color);
  transform: skewY(-10deg);
}
.projects-title {
  color: var(--main-orange-color);
  margin-bottom: 32px;
  font-size: 2.4em;
  font-style: italic;
  font-weight: 900;
  letter-spacing: .2em;
  line-height: .7em;
  text-align: center;
  text-shadow: 1px 2px 0px var(--second-orange-color),
                2px 4px 0px var(--third-orange-color);
  text-transform: uppercase;
  transform: skewX(-10deg);
}
.projects-container {
  display: flex;
  flex-direction: row;
  width: min-content;
  margin: auto;
}
.projects-title, .projects-container {
  transform: skewY(10deg);
}