@keyframes slideIn {
  from { margin-left: -100%; }
  to { margin-left: 0%; }
}

* {
  --main-bg-color: #161616;
  --main-border-color: #323232;
  --main-content-color: #f1f1f1;
  --second-content-color: #e4e4e4;
  --main-navbar-color: #d6d6d6;

  color: var(--main-content-color);
}

body {
  background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    border-bottom: var(--main-navbar-color) 1px solid;
  }
}

button {
  padding: 12px 24px;
  background-color: var(--main-bg-color);
  border: solid 1px var(--main-border-color);
  border-radius: 20px;
}

.content {
  animation-duration: 1s;
  animation-name: slideIn;
  margin-top: 24px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
  margin: 0px 16vw;
  color: var(--main-navbar-color) !important;
}
.navbar-neon {
  position: absolute;
  height: 2px;
  width: 72vw;
  top: 80px;
  left: 14vw;
  background-color: #fff;
  // box-shadow:
  //   0 0 4px #fff,
  //   inset 0 0 4px #fff,
  //   0 0 8px #c6e2ff,
  //   inset 0 0 8px #c6e2ff,
  //   0 0 16px #c6e2ff,
  //   inset 0 0 16px #c6e2ff; 
}

.title {
  font-size: 1.1em;
  font-weight: 600;
}

.links-list {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.link-item {
  margin-left: 12px;
  font-size: .9em;
  font-weight: 400;
  
  &:not(:last-child):after {
    content: '/';
    margin-left: 12px;
  }

  & a {
    color: var(--main-navbar-color);
  }
}

.photo-container {
  height: 200px;
  width: 200px;
  margin: auto;
  padding: 40px 0px;

  & #photoHeadings {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-weight: 400;
    transition: all 1s;

    & span {
      font-weight: bold;

      &:after {
        content: '';
        position: relative;
        left: 69%;
        display: block;
        height: 1px;
        width: 0px;
        background-color: var(--main-content-color);
        transition: all .4s;
      }
    }
  }
}
#photoCV {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left top;
  // border: 4px solid white;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: black 0px 0px 4px;
  filter: grayscale(90%) contrast(100%);
  transform: scale(90%);
  transition: all .8s;

  &:hover {
    transform: scale(100%);
    filter: grayscale(10%);
    transition: all .8s;
  }

  &:hover + #photoHeadings span:after {
    width: 36px;
    transition: all .4s;
  }
}

.presentation-wrapper {
  margin: auto;
  width: 80vw;

  & .button {
    display: block;
    margin: auto;

    &:hover {
      cursor: pointer;
    }

    & .icon {
      margin-left: 4px;
    }
  }
}

.presentation-keywords {
  position: relative;
  font-weight: bold;
  font-size: 2.8em;
  margin: auto;
  padding: 32px 0px;
  width: 360px;
  text-align: center;
  color: var(--second-content-color);

  &:after {
    content: "";
    position: absolute; top: 0; bottom: 0; left: 0px; right: 0px;
    box-shadow: inset -64px 0px 80px var(--main-bg-color);
  }
}