* {
    --main-bg-color: #161616;
    --second-bg-color: #1a1a1a;
    --third-bg-color: #222222;

    --main-border-color: #323232;
    --second-border-color: #444;

    --main-content-color: #f1f1f1;
    --second-content-color: #cfcfcf;
    --third-content-color: #888888;

    --main-orange-color: #F8B12E;
    --second-orange-color: #E5903B;
    --third-orange-color: #A87738;
}